.footer{width:100%;height:50px;background: #f8f8f8;border-top:1px solid #eee;position: fixed;bottom:0;z-index:111111;}
.footer div{width:33%;text-align:center;float:left;}
.footer i{width:24px;height:24px;font-size: 24px!important;position: relative;top:-36px}
.footer p{font-size:12px;position: relative;top:-58px}
.active{color:#0095DE}